<link rel="stylesheet" href="~/css/home.css">


<div class="bookmarks-header">
    <!-- Dropdown for Sorting -->
    <form method="get" class="mb-3 d-flex align-items-center" style="width: auto;">
        <label for="sortOrder" class="me-2 mb-0">Sortează după</label>
            @Html.DropDownList("sortOrder", new List<SelectListItem>
            {
            new SelectListItem { Text = "Cele mai populare", Value = "popular" },
            new SelectListItem { Text = "Cele mai recente", Value = "recent" }
        }, new { @class = "form-select", onchange = "this.form.submit()", style = "width: auto;" })
    </form>
    <!--butoanele de adaugare bookmark/category-->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="add-buttons">
            <a href="@Url.Action("New", "Bookmark")">Adaugă Bookmark</a>
            <a href="@Url.Action("New", "Category")">Adaugă Categorie</a>
        </div>
    }
    
</div>

@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"]">
        @TempData["message"]
    </div>
}

<!-- Displaying Bookmarks -->
@if (ViewBag.Bookmarks == null)
{
    <div class="alert alert-warning text-center">
        Nu există bookmark-uri disponibile.
    </div>
}
else
{
    <div>
        <div class="row">
            @foreach (var bookmark in ViewBag.Bookmarks)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">@bookmark.Title</h4>
                            <p class="text-muted">Adăugat de: @bookmark.User.UserName</p>
                            <p class="card-text">@bookmark.Description</p>
                            <small class="text-muted">Creat la: @bookmark.Date_created.ToShortDateString()</small>
                        </div>
                        <div class="card-footer text-center">
                            <a href="@Url.Action("Show", "Bookmark", new { id = bookmark.Id })" class="details-button">Vezi detalii</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@if (ViewBag.lastPage > 1) 
{
    <div class="pages">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <!-- Butonul de Previous -->
                @if (ViewBag.currentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@($"{ViewBag.PaginationBaseUrl}{ViewBag.currentPage - 1}")" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }

                <!-- Paginile vecine-->
                @for (var i = ViewBag.currentPage - 1; i <= ViewBag.currentPage + 1; i++)
                {
                    @if (i > 0 && i <= ViewBag.lastPage)
                    {
                        <li class="page-item @(i == ViewBag.currentPage ? "active" : "")">
                            <a class="page-link" href="@($"{ViewBag.PaginationBaseUrl}{i}")">
                                @i
                            </a>
                        </li>
                    }
                }
                <!-- Butonul de Next -->
                @if (ViewBag.currentPage < ViewBag.lastPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@($"{ViewBag.PaginationBaseUrl}{ViewBag.currentPage + 1}")" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
}
