

<head>
    <link rel="stylesheet" href="/css/bookmark.css">
</head>
@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"]">
        @TempData["message"]
    </div>
}


<div class="container mt-5">
    
    <div class="row">
        <div id="bookmark" class="col-md-8 offset-md-2">

            <!-- Detalii despre articol -->
            <div id="continut" class="card mb-4">

                <div class="card-body">
                    <h3 id="titlu" class="text-center mt-5">@Model.Title</h3>
                    <small>Postat de: <a href="@Url.Action("Show", "User", new { id = @Model.UserId })">@Model.User.UserName</a></small>
                    <br />
                    <small>@Model.Date_created.ToString("dd/MM/yyyy")</small>
                    <p class="card-text">@Model.Description</p>
                    <!--continutul media, video sau imagine/gif-->
                    @if (!string.IsNullOrEmpty(Model.Media_Content))
                    {
                        <div class="media-content">
                            @if (Model.Media_Content.Contains("youtube.com/watch") || Model.Media_Content.Contains("youtu.be"))//video
                            {
                                var videoId = "";
                                if (Model.Media_Content.Contains("youtube.com/watch"))
                                {
                                    var uri = new Uri(Model.Media_Content);
                                    var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
                                    videoId = query["v"];
                                }
                                else if (Model.Media_Content.Contains("youtu.be"))
                                {
                                    var parts = Model.Media_Content.Split('/');
                                    videoId = parts[parts.Length - 1]; // Accesare manuală a ultimului element
                                }

                                var embedUrl = $"https://www.youtube.com/embed/{videoId}";
                                <iframe src="@embedUrl"
                                        class="responsive-media"
                                        frameborder="0"
                                        allowfullscreen>
                                </iframe>
                            }
                            else//imagine
                            {
                                <img src="@Model.Media_Content" alt="Continut Media" class="bookmark-media" />
                            }
                        </div>
                    }


                </div>
                <div class="card-footer text-muted">
                    <span>Voturi: @Model.VotesCount | Comentarii: @Model.CommentsCount</span>
                        <div class="d-flex justify-content-end">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="d-flex">
                                    <form asp-action="AddCategory" asp-controller="Bookmark" method="post" class="d-inline">
                                        <input type="hidden" name="BookmarkId" value="@Model.Id" />
                                        <div>
                                            <select name="CategoryId" id="categSelect" class="save-button" onchange="this.form.submit()">
                                                <option value="" class="adaugat-button" selected hidden>Save</option>
                                                @foreach (var categ in ViewBag.UserCategories)
                                                {
                                                    <option value="@categ.Id">@categ.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            }

                            @if (ViewBag.AfisareButoane)
                            {
                                <!-- Secțiunea pentru Editează și Șterge -->
                                <div class="d-flex justify-content-end">
                                <a class="edit-button" href="@Url.Action("Edit", "Bookmark", new { id = Model.Id })">Editează</a>
                                    <form action="@Url.Action("Delete", "Bookmark", new { id = Model.Id })" method="post" class="d-inline">
                                    <button type="submit" class="dislike-button">Șterge</button>
                                    </form>
                                </div>
                            }
                        </div>
                    
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <!-- Secțiunea pentru Like și Dislike -->
                    <div class="d-flex">
                        <form asp-action="New" asp-controller="Vote" method="post" class="d-inline me-2 justify-content-start">
                            <input type="hidden" name="BookmarkId" value="@Model.Id" />
                            <input type="hidden" name="UserId" value="@User.FindFirst("sub")?.Value" />
                            <button type="submit" name="VoteType" value="Like" class="like-button">Like</button>
                        </form>

                        <form asp-action="New" asp-controller="Vote" method="post" class="d-inline justify-content-start">
                            <input type="hidden" name="BookmarkId" value="@Model.Id" />
                            <input type="hidden" name="UserId" value="@User.FindFirst("sub")?.Value" />
                            <button type="submit" name="VoteType" value="Dislike" class="dislike-button">Dislike</button>
                        </form>
                    </div>
                }
            </div>

            <script>
                function setDeleteFormAction(actionUrl) {
                    document.getElementById('deleteForm').action = actionUrl;
                }
            </script>

            <!-- Comentarii -->
            <h4>Comentarii (@Model.CommentsCount)</h4>
            @foreach (var comment in Model.Comments)
            {
                <div class="media mb-3">
                    <img src="@comment.User.Profile_image" 
                         alt="Profile Image"
                         class="rounded-circle"
                         style="width: 30px; height: 30px; margin-bottom:3px; object-fit: cover;">
                    <div class="media-body">
                        <h5 class="mt-0"><a href="@Url.Action("Show", "User", new { id = @comment.UserId })" style="color: black; text-decoration:none;">@comment.User.UserName</a></h5>
                        <p>@comment.Content</p>
                        <small>@comment.Date_created.ToString("dd/MM/yyyy HH:mm")</small>
                        <div class="d-flex justify-content-end">
                        @if (@comment.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                        {
                            <div class="mt-2">
                                    <a asp-controller="Bookmark" asp-action="EditComment" asp-route-id="@comment.Id" class="like-button">Editează</a>
                                    <a asp-controller="Bookmark" asp-action="DeleteComment" asp-route-BookmarkId="@Model.Id" asp-route-id="@comment.Id" class="dislike-button">Șterge</a>


                            </div>
                        }
                        </div>
                        
                    </div> 
                </div>
            }

            @if (User.Identity.IsAuthenticated)
            {
                <!-- Adaugă comentariu -->
                <form asp-action="NewComment" asp-controller="Bookmark" method="post" class="d-inline me-2">
                    <input type="hidden" name="BookmarkId" value="@Model.Id" />
                    <div class="form-group">
                        <label for="CommentContent">Comentariul tău:</label>
                        <textarea id="CommentContent" name="Cont" class="form-control" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="dislike-button">Adaugă Comentariu</button>
                </form>
            }
            
           

        </div>
    </div>
</div>

