<head>
    <link rel="stylesheet" href="/css/user.css">
</head>
@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"]">
        @TempData["message"]
    </div>
}

<div class="container mt-5">
    <div class="text-center">
        <!-- Poza de profil -->
        <img src="@Model.Profile_image"
             alt="Profile Image"
             class="rounded-circle"
             style="width: 150px; height: 150px; object-fit: cover;">

        <div id="viewProfile" class="mt-3 text-center">
            <h4>
                <span>@Model.FirstName</span> <span>@Model.LastName</span>
            </h4>

            <h5 class="text-muted">@Model.UserName</h5>

            <!-- Afișează butoanele de editare si stergere dacă este utilizatorul curent sau admin -->
            @if (ViewBag.AfisareButoane)
            {
                <div class="d-flex justify-content-center">
                    <a class="btn btn-warning btn-sm me-2" id="editUser" href="@Url.Action("Edit", "User", new { id = Model.Id })">Editează Profil</a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="delUser">Șterge Contul</a>
                    
                </div>
                <div id="addBkCat">
                    <a class="nav-link" href="@Url.Action("New", "Bookmark")">Adaugă Bookmark</a>

                    <a class="nav-link" style="border-left: 2px solid black; padding-left: 10px;" href="@Url.Action("New", "Category")">Adaugă Categorie</a>
                </div>
            }

            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteLabel">Confirmare ștergere</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Ești sigur că vrei să ștergi acest Profil? Nu il mai puteti recupera dupa.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-succes" data-bs-dismiss="modal">Nu</button>
                            <form id="deleteForm" action="@Url.Action("Delete", "User", new { id = @Model.Id })" method="post">
                                <button type="submit" class="btn btn-danger">Da</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
        <div id="aboutAndCateg">
            <div class="mt-4">
                <h5>Despre mine</h5>
                <p>@Model.About</p>
            </div>
            <h5 id="numecat">Colectiile mele</h5>
            @foreach (var categ in ViewBag.UserCategories)
            {
                <span><a id="categUser" href="@Url.Action("Show", "Category", new { id = categ.Id })">@categ.Name</a></span>
            }
        </div>
    </div>
</div>


